
.toast {
  position: relative;
  color: var(--color-grey-white);
  background: var(--color-grey-base);
  padding: 10px 16px;
  border-radius: 4px;
  font-size: var(--font-size-smaller);
  animation: none;
  width: fit-content;
}
.toast.trigger {
  animation: toastAnimation linear both;
  animation-duration: 2s;
}

@keyframes toastAnimation {
  0% { opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}