
.toast {
  --transition-duration: 100ms;

  position: relative;
  color: var(--color-grey-white);
  background: var(--color-grey-base);
  padding: 10px 16px;
  border-radius: 4px;
  font-size: var(--font-size-smaller);
  width: fit-content;
  box-shadow: var(--box-shadow-standard);
  opacity: 0;
  transition: opacity var(--transition-duration) linear;
}

.toast.show {
  animation: fade-in var(--transition-duration) linear;
  opacity: 1;
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}