
.overallContainer {
  --card-padding: 16px;

  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 100%;
  padding: var(--card-padding);
  box-shadow: var(--box-shadow-standard);
  transition: transform 100ms ease-out, box-shadow 100ms ease-out;
}
.overallContainer:hover {
  cursor: pointer;
  transform: scale(1.004);
  box-shadow: var(--box-shadow-hover);
}

.layoutGrid {
  position: relative;
  display: grid;
  grid-template-areas:
    'place-details  weather'
    'tag-list       weather';
  grid-template-columns: 1fr auto;
  column-gap: 30px;
  row-gap: 8px;
}

.placeDetailsContainer {
  grid-area: place-details;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.placeDetailsContainer > .placeName {
  font-weight: bold;
}
.placeDetailsContainer > .typeLine {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.weatherContainer {
  grid-area: weather;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 36px;
}
.weatherContainer > .weatherTimeline {
  position: relative;
  width: 250px;
}

.tagListContainer {
  grid-area: tag-list;
  position: relative;
}

.favoriteToggle {
  position: absolute;
  right: var(--card-padding);
}

@media only screen and (max-width: 700px) {
  .layoutGrid {
    grid-template-areas:
      'place-details'
      'weather'
      'tag-list';
    column-gap: 0px;
    row-gap: 16px;
  }
  .placeDetailsContainer {
    align-items: center;
  }
  .weatherContainer {
    margin-right: 0px;
    justify-content: center;
  }
  .tagListContainer {
    margin-left: auto;
    margin-right: auto;
  }
}