
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  /* Resets */
  margin: 0;
  padding: 0;
  border: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;

  /* Font sizes */
  --font-size-web-smaller: 14px;
  --font-size-web-small: 16px;
  --font-size-web-regular: 18px;
  --font-size-web-large: 22px;
  --font-size-mobile-smaller: 11px;
  --font-size-mobile-small: 12px;
  --font-size-mobile-regular: 14px;
  --font-size-mobile-large: 16px;

  --font-size-smaller: var(--font-size-web-smaller);
  --font-size-small: var(--font-size-web-small);
  --font-size-regular: var(--font-size-web-regular);
  --font-size-large: var(--font-size-web-large);

  /* Color palette */
  --color-primary-base: #FF5656;
  --color-grey-white: #FFFFFF;
  --color-grey-offwhite: #F5F5F5;
  --color-grey-light: #D3D3D3;
  --color-grey-base: #757575;
  --color-grey-dark: #505050;
  --color-grey-black: #000000;

  /* Scrollbar styling for Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey-light) var(--color-grey-offwhite);
}

/* Scrollbar styling for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--color-grey-offwhite);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-light);
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-base);
}

/* Resets */
ol, ul {
  list-style: none;
}
button {
  background: none;
}

/* Global styles */
body {
  overflow-y: hidden;
}
p {
  font-size: var(--font-size-regular);
}

/* Page transition stuff */
.pageFadeIn {
  animation: pageFadeIn 250ms ease-out both;
}
.pageFadeOut {
  animation: pageFadeOut 250ms ease-out both;
}
@keyframes pageFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes pageFadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Media queries*/

@media only screen and (max-width: 600px) {
  * {
    --font-size-smaller: var(--font-size-mobile-smaller);
    --font-size-small: var(--font-size-mobile-small);
    --font-size-regular: var(--font-size-mobile-regular);
    --font-size-large: var(--font-size-mobile-large);
  }
}