
.overallContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 40px;
  border-radius: 5px;
  background: var(--color-primary-base);
}
.text {
  font-size: var(--font-size-web-regular);
  font-weight: bold;
  line-height: 0px;
  color: var(--color-grey-white);
}
.overallContainer.noBackground {
  background: none;
}
.overallContainer.noBackground > .text {
  color: var(--color-grey-black);
}