
.overallContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overallContainer.isCurrent > .time {
  font-weight: bold;
}

.iconContainer {
  position: relative;
  width: 60px;
}
.time {
  font-size: var(--font-size-smaller);
}