
.overallContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.backgroundContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.foregroundContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  padding-top: 90px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.sidePanelsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.placeCard {
  position: relative;
  pointer-events: auto;
}
.weatherCard {
  position: relative;
  pointer-events: auto;
}
.bottomBarContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  pointer-events: auto;
}

@media only screen and (max-width: 600px) {
  .foregroundContainer {
    justify-content: flex-end;
    gap: 16px;
  }
  .sidePanelsContainer {
    flex-direction: column-reverse;
  }
  .placeCard {
    width: 100%;
  }
  .weatherCard {
    width: 100%;
  }
}