
.overallContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.backgroundContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.foregroundContainer {
  position: relative;
  pointer-events: none;
  padding-top: 90px;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.sidePanelsContainer {
  margin-left: 12px;
}
.placeCard {
  position: relative;
  pointer-events: auto;
}
.weatherCard {
  position: relative;
  pointer-events: auto;
}