
.overallContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 16px 50px;
  border-radius: 6px;
  background: var(--color-grey-white);
  box-shadow: var(--box-shadow-standard);
}

@media only screen and (max-width: 600px) {
  .weatherTimeline {
    width: 160px;
  }
}