
.overallContainer {
  position: relative;
  width: 400px;
  padding: 16px 50px;
  border-radius: 6px;
  background: var(--color-grey-white);
  box-shadow: var(--box-shadow-standard);
}

.weatherTimeline {
  width: 100%;
}