
.overallContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-out;
}
.heroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.heroLeftBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}
.pretitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 42px;
  margin-bottom: -40px;
}
.textCarousel {
  position: relative;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
.textCarousel:after {
  position: absolute;
  content: '';
  width: 110%;
  height: 100%;
  background: var(--color-grey-white);
  left: -120%;
  border-left: 4px solid var(--color-primary-base);
  border-right: 4px solid #000000;
}
.title {
  font-size: 150px;
}
.buttonList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.logoSvg {
  width: clamp(100px,20vw,250px);
  height: auto;
}

/* Text carousel animation stuff */
.closeCurtain:after {
  animation: text-carousel-curtain-close 500ms ease-in both;
}
.openCurtain:after {
  animation: text-carousel-curtain-open 500ms ease-out both;
}

/* Keyframes */
@keyframes text-carousel-curtain-close {
  0% { left: -120%; }
  100% { left: -10%; }
}
@keyframes text-carousel-curtain-open {
  0% { left: 10%; }
  100% { left: 120%; }
}