
.overallContainer {
  position: relative;
  border-radius: 6px;
  padding: 2px 10px;
  font-size: var(--font-size-small);
  background: var(--color-primary-light);
  color: var(--color-grey-white);
}