
.overallContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  width: 100%;
  padding: 16px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-out, box-shadow 100ms ease-out;
}
.overallContainer:hover {
  cursor: pointer;
  transform: scale(1.004);
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.05);
}
.descriptionColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.placeName {
  font-weight: bold;
}
.weatherTimeline {
  position: relative;
}
.typeLine {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.tagList {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 4px;
}
.tagItem {
  position: relative;
  border: 1px solid var(--color-grey-base);
  color: var(--color-grey-base);
  border-radius: 100px;
  padding: 2px 10px;
}