
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Resets */
  margin: 0;
  padding: 0;
  border: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;

  /* Font sizes */
  --font-size-web-small: 16px;
  --font-size-web-regular: 18px;
  --font-size-web-large: 22px;
  --font-size-mobile-small: 8px;
  --font-size-mobile-regular: 9px;
  --font-size-mobile-large: 12px;

  /* Color palette */
  --color-primary-base: #FF5656;
  --color-grey-white: #FFFFFF;
  --color-grey-offwhite: #F5F5F5;
  --color-grey-light: #D3D3D3;
  --color-grey-base: #757575;
  --color-grey-dark: #505050;
  --color-grey-black: #000000;
}

/* Resets */
ol, ul {
  list-style: none;
}
button {
  background: none;
}

/* Global styles */
body {
  overflow-y: hidden;
}
p {
  font-size: var(--font-size-web-regular);
}

/* Page transition stuff */
.pageFadeIn {
  animation: pageFadeIn 250ms ease-out both;
}
.pageFadeOut {
  animation: pageFadeOut 250ms ease-out both;
}
@keyframes pageFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes pageFadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}